<% post.comments.each do |comment| %>
  <div class="comment">

      <%= link_to profile_image(comment.account, 40), profile_path(comment.account.username) %>
    <strong><%= comment.account.username %></strong>
    <%= comment.comment %>
    <p class="text-muted"><%= time_ago_in_words comment.created_at %> ago</p>
  </div>
<% end %>