body {
  background: #fafafa !important;
}

.app {
  background: url(asset_path('camera.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.main {
  text-align: center;
}

.home-page {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 100px;
}

.home-info {
  margin-bottom: 48px;
}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-pic {
  border-radius: 50%;
}

.profile-stats {
  margin-bottom: 30px;
  max-width: 360px;
}

.profile-posts {
  margin-top: 50px;
}

.btn-custom {
  background: transparent;
  border: 2px solid #999 !important;
  border-radius: 4px !important;
}

.btn-custom:hover {
  background: #ddd !important;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-15 {
  margin-left: 15px;
}
